
.mtvn_media_player_container.light_player
{
	background-color:black;
	cursor: pointer;
	position:relative;
}

.mtvn_media_player_container.light_player .play_overlay_icon
{
	background: transparent url("../images/play_overlay_icon.png") no-repeat scroll 0 0;
	height:40px;
	left:10px;
	position:absolute;
	top:10px;
	width:50px;
}
