/* Base Vex Styles */
@keyframes vex-fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes vex-fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes vex-fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes vex-fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes vex-fadein {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes vex-fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes vex-fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes vex-fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-ms-keyframes vex-fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes vex-fadeout {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes vex-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg); } }

@-webkit-keyframes vex-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg); } }

@-moz-keyframes vex-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg); } }

@-ms-keyframes vex-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg); } }

@-o-keyframes vex-rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg); } }

.vex, .vex *, .vex *:before, .vex *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.vex {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1111;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.vex-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.vex-overlay {
  background: #000;
  filter: alpha(opacity=40);
  /* IE 5–7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 8 */ }

.vex-overlay {
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .vex.vex-closing .vex-overlay {
    animation: vex-fadeout 0.5s;
    -webkit-animation: vex-fadeout 0.5s;
    -moz-animation: vex-fadeout 0.5s;
    -ms-animation: vex-fadeout 0.5s;
    -o-animation: vex-fadeout 0.5s;
    -webkit-backface-visibility: hidden; }

.vex-content
{
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  background: #fff;
}

.vex.vex-closing .vex-content
{
  animation: vex-fadeout 0.5s;
  -webkit-animation: vex-fadeout 0.5s;
  -moz-animation: vex-fadeout 0.5s;
  -ms-animation: vex-fadeout 0.5s;
  -o-animation: vex-fadeout 0.5s;
  -webkit-backface-visibility: hidden;
}

.vex-close:before
{
  font-family: Arial, sans-serif;
  content: "\00D7";
}

.vex-dialog-form
{
  margin: 0;
}

.vex-dialog-button
{
  text-rendering: optimizeLegibility;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.vex-loading-spinner
{
  animation: vex-rotation 0.7s linear infinite;
  -webkit-animation: vex-rotation 0.7s linear infinite;
  -moz-animation: vex-rotation 0.7s linear infinite;
  -ms-animation: vex-rotation 0.7s linear infinite;
  -o-animation: vex-rotation 0.7s linear infinite;
  -webkit-backface-visibility: hidden;
  -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1112;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background: #fff;
}

body.vex-open
{
  overflow: hidden;
}
/* End Base Vex Styles */

/* MTV custom theme styles (adapted from vex-theme-plain) */
@keyframes vex-flipin-horizontal {
  0% {
    opacity: 0;
    transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(25deg); }

  100% {
    opacity: 1;
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(0deg); }
}

@-webkit-keyframes vex-flipin-horizontal {
  0% {
    opacity: 0;
    transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(25deg); }

  100% {
    opacity: 1;
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(0deg); }
}

@-moz-keyframes vex-flipin-horizontal {
  0% {
    opacity: 0;
    transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(25deg); }

  100% {
    opacity: 1;
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(0deg); }
}

@-ms-keyframes vex-flipin-horizontal {
  0% {
    opacity: 0;
    transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(25deg); }

  100% {
    opacity: 1;
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(0deg); }
}

@-o-keyframes vex-flipin-horizontal {
  0% {
    opacity: 0;
    transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(25deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(25deg); }

  100% {
    opacity: 1;
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(0deg); }
}

.vex.vex-theme-disruptive-overlay
{
  display: table;
  height: 100%;
  width: 62.66666667%;
  margin-left: 18.66666667%;
}

.vex.vex-theme-disruptive-overlay .vex-vcenter
{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -o-perspective: 1300px;
  perspective: 1300px;
}

.vex.vex-theme-disruptive-overlay .vex-content
{
  font-family: "Helvetica Neue", sans-serif;
  background: none;
  color: #1A1A1A;
  padding: 0;
  position: relative;
  margin: 0;
  max-width: 100%;
  width: 100%;
  font-size: 1.1em;
  line-height: 1.5em;

  -webkit-animation: vex-flipin-horizontal 1.3s;
  -moz-animation: vex-flipin-horizontal 1.3s;
  -ms-animation: vex-flipin-horizontal 1.3s;
  -o-animation: vex-flipin-horizontal 1.3s;
  animation: vex-flipin-horizontal 1.3s;

  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -ms-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9);

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.vex.vex-theme-disruptive-overlay .vex-close
{
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
}

.vex.vex-theme-disruptive-overlay .vex-close:before
{
  position: absolute;
  content: "\00D7";
  font-size: 43px;
  font-weight: bold;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 0;
  right: 0;
  color: #FAFAFA;
  background: transparent;
}

.vex-loading-spinner.vex-theme-disruptive-overlay
{
  height: 2.5em;
  width: 2.5em;
}

.vex-theme-disruptive-overlay .vex-overlay
{
  background: rgba(0, 0, 0, 0.8);
}

.vex-blur
{
  filter: blur(2px) grayscale(90%);
  -webkit-filter: blur(5px) grayscale(90%);
}

@media only screen and (min-width: 979px) {

  .vex.vex-theme-disruptive-overlay
  {
    width: 50%;
    margin-left: 25%
  }

}
